<% content_for :cabecalho do %>
  Listagem de Produtos
<% end %>

<% content_for :stylesheets do %>

  <!-- folhas de estilo vem aqui -->

<% end %>

<% unless @produtos.blank? %>

  <table>
    <thead>
      <tr>
        <th>
          Nome
        </th>
        <th>
          Preço
        </th>
      </tr>
    </thead>
    <tbody>
      <% @produtos.each do |produto| %>
        <tr>
          <td>
            <%= produto.nome %>
          </td>
          <td>
            <%= produto.preco %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p> Não há nenhum produto cadastrado no sistema. </p>
<% end %>