<html>
  <head>
    <title>
      <%= @titulo %> | Loja
    </title>

    <%= yield :stylesheets %>

  </head>
  <body>

    <h1> <%= yield :cabecalho %>  | Loja </h1>

    <%= yield %>
    
  </body>
</html>